{
    "useTabs": true,
    "tabWidth": 2, 
    "singleQuote": true,
    "semi": false,  
    "printWidth": 80, 
    "spaceBeforeFunctionParen": true,
    "ignorePatterns": ["node_modules/", "build/"]
  }
