.tabsContainer {
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 10px; 
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8rem; 
    background-color: transparent; 
    color: inherit; 
}

.activeTab {
    background-color: black; 
    color: white; 
    font-weight: bold;
    border-color: #666;  
}

.tabContent {
    padding: 20px;
}
